<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% block head %}

    <title>751: Better writing, every day.</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>

    <link rel='stylesheet' href='{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('static', filename='css/flat-ui.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}' type='text/css' media='all' />

    <script src='{{ url_for('static', filename='js/flash.js') }}'></script>

    {% endblock %}

  </head>

  <body>
    {% for message in get_flashed_messages() %}
    <div class='admin_flashes'>
      <div class='flash'>{{ message }}</div>
    </div>
    {% endfor %}

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block js_footer %}{% endblock %}

  </body>
</html>
