{% extends "inside_base.html" %}

{% block styles %}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('static', filename='css/flat-ui.css') }}' type='text/css' media='all' />
    <script>
    $(document).ready(function(){
      $('textarea').autosize({
        "callback": scrollToBottom
        });
      $('textarea').caret(-1);
    });
    </script>
{% endblock %}

{% block content %}
    <div id="back">
        <a href="/past/" class="fui-arrow-left" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Older"></a>
    </div>
    <div id="past_status">
    {% for completed, length, url_string in past_status %}
        {% if length > 0 %}
            {% if completed %}
                <a href="/{{ url_string }}/" class="fui-checkbox-checked" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="{{ url_string }}"></a>
            {% else %}
                <a href="/{{ url_string }}/" class="fui-checkbox-unchecked incomplete" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="{{ url_string }}"></a>
            {% endif %}
        {% else %}
            <span class="fui-checkbox-unchecked dne"></span>
        {% endif %}
    {% endfor %}
    </div>
    <div id="today">
    {% if post.length > 750 %}
        <a id="current" class="fui-checkbox-checked" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Today"></a>
    {% else %}
        <a id="current" class="fui-new" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Today"></a>
    {% endif %}
    </div>
    <div id="container">
        <form name="myform" id="myform">
            <input type="hidden" name="date_string" id="date_string" value="{{ post.date_string }}"/>
            <textarea name="content" id="content" cols=40 autofocus>{{ post.content }}</textarea>
        </form>
    </div>
{% endblock %}
