{% extends "inside_base.html" %}
{% block content %}
    <div id="past_status">
    {% for status in past_status %}
        <a href="/{{ status.url_string() }}/">
        {% if status.completed %}
            <div class="status complete"></div>
        {% else %}
            <div class="status incomplete"></div>
        {% endif %}
        </a>
    {% endfor %}
            <div id="current" class="status incomplete"></div>
    </div>
    <div id="container">
        <form name="myform" id="myform">
            <input type="hidden" name="date_string" id="date_string" value="{{ post.date_string }}"/>
            <textarea name="content" id="content" cols=40 autofocus>{{ post.content }}</textarea>
        </form>
    </div>
{% endblock %}
