{% extends "inside_base.html" %}

{% block styles %}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('static', filename='css/flat-ui.css') }}' type='text/css' media='all' />
{% endblock %}

{% block header %}
    <div id="stretch">
        <div id="today" class="bar-icon bar-icon-fixed">
            <a id="current" class="fui-new" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Today"></a>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}

{% block content %}
    <!--
    <div id="back">
        <a href="/" class="fui-arrow-left"></a>
    </div>
    -->
    <div id="past_status"></div>
    <div id="container">
        <span name="content" id="content" cols=40 autofocus>
        {% for post in posts %}
            <a href="/{{ post.date_string.replace("-", "/") }}"
               class="fui-checkbox-checked {{ 'incomplete' if not post.completed else '' }}">
               &nbsp;&ldquo;{{ post.blurb }}&rdquo;&nbsp;<i>({{post.date|text_date}})</i>
            </a><br/>
        {% endfor %}
        </span>
    </div>
{% endblock %}
