body, html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
}
div #past_status {
    padding-top:25px;
    height:25px;
    padding-bottom:25px;
    font-size:20px;
    box-sizing:content-box;
}

#content, p {
    line-height:1.5em;
    font-size:28px;
}

p:first-child {
    -webkit-margin-before:0;
    margin-before:0;
}

#content {
    width:770px;
    outline-style:none;
    outline-width: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:0; margin:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display: block;
    resize: none;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    padding: 0;
    padding-bottom:25%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    white-space: normal;
    color: #000;
}

#container{
    margin:0;padding:0;
    display:block;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -4em;
    position: relative;
    font-size: 16px;
    float: none;
    width: 800px;
    text-align: left;
    display: block;
}
#footer{
    background:#fdd;
    margin: 0 auto;
    padding: 0;
    display:block;
    vertical-align: baseline;
    background-color: #ffaaaa;
    height: 100px;
}

.content, .content > form {
    height:100%;
}

h5 {
    font-size:18px;
    font-weight: normal;
}

div .login-header {
    padding-bottom:20px;
}

.login-header > h3 {
    margin:10px;
    font-size:36px;
    display:block;
}

.login-header > h5 {
}

.login-icon {
    padding-right:10px;
}

textarea {
    padding: 1em 0;
}

.admin_flashes {
  z-index: 1001;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 110px;
  font-weight: normal;
  padding: 5%;
  background-color: #20E5BE;
  color: #edeff1;
}

.fui-checkbox-checked{
    color: #1abc9c;
}

.fui-checkbox-unchecked, a:hover.fui-checkbox-unchecked {
    color: #becac9;
}

.fui-new {
    font-size: 19px;
    color: #becac9;
}
