body, html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
}
div #back {
    margin-left: -25px;
    width: 25px
}

div #today {
    margin-left:755px;
    width: 25px;
    position:fixed;
}

div #past_status {
    width: 100%;
}

div #back, #past_status, #today {
    text-align: center;
    padding-top:25px;
    height:25px;
    padding-bottom:25px;
    font-size:22px;
    box-sizing:content-box;
    float:left;
}

#content, p {
    line-height:1.65em !important;
    font-size:22px;
}

p {
    margin: 0 0 1.65em !important;
}

p:first-child {
    -webkit-margin-before:0;
    margin-before:0;
}

#content {
    width:100%;
    outline-style:none;
    outline-width: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:0; margin:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display: block;
    resize: none;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    padding: 0;
    padding-bottom:25%;
    font-family: 'Open Sans', sans-serif;
    white-space: normal;
    color: #000;
}

#container{
    margin:0;padding:0;
    display:block;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -4em;
    position: relative;
    font-size: 16px;
    float: none;
    width: 100%;
    max-width: 755px;
    text-align: left;
    display: block;
}
#footer{
    background:#fdd;
    margin: 0 auto;
    padding: 0;
    display:block;
    vertical-align: baseline;
    background-color: #ffaaaa;
    height: 100px;
}

.content, .content > form {
    height:100%;
}

h5 {
    font-size:18px;
    font-weight: normal;
}

div .login-header {
    padding-bottom:20px;
}

.login-header > h3 {
    margin:10px;
    font-size:36px;
    display:block;
}

.login-header > h5 {
}

.login-icon {
    padding-right:10px;
}

textarea {
    padding: 1em 0;
}

.admin_flashes {
  z-index: 1001;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 110px;
  font-weight: normal;
  padding: 5%;
  background-color: #20E5BE;
  color: #edeff1;
}

.fui-checkbox-checked{
    /*color: #1abc9c;*/
}

.fui-new, .incomplete {
    color: #BDC3C7;
}

a:hover.fui-new {
    color: #16A085;
}

a:hover.incomplete {
    color: #DCE0E1;
}

.dne {
    color: #fff;
}

.fui-checkbox-unchecked {
    height: 50%; !important
}

.tooltip{
    font-size: 12px;
}

.tooltip-arrow {
    border-width: 0 4px 4px !important;
    margin-left: -4px !important;
    border-bottom-color: #DCE0E1 !important;
}

.tooltip-inner{
    padding:2px 4px 2px 4px;
    margin-top: -5px;
    background-color: #DCE0E1;
    color: #777;
}
